@import 'tailwindcss';
@source '../app/**/*.{js,ts,jsx,tsx,mdx}';
@source '../components/**/*.{js,ts,jsx,tsx,mdx}';
@import './styles/themes/sanctum.css';
@import './styles/themes/catppuccin.css';
@import './styles/themes/gruvbox.css';
@import './styles/codehilite.css';

@theme {
    --breakpoint-3xs: 200px;
    --breakpoint-2xs: 250px;
    --breakpoint-xs: 300px;
    --breakpoint-sm: 380px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

/* lowest specificity */
@layer base {

    body {
        --toastify-toast-width: 300px !important;
        @apply bg-background text-text-primary;
        font-family: var(--font-space);
    }

    .latex-display-wrapper {
        @apply flex justify-center overflow-auto max-w-min mx-auto;
    }

    .latex-display-wrapper > span {
        @apply inline-block px-4 text-center mx-auto;
    }

    .latex-display-wrapper > span > * {
        @apply !my-2; /* override the default margin, because it's too big */
    }

    /* BEGIN THEME-SPECIFIC STUFF */

    /* apply underline to article h1 and h2, for the themes that have it */
    .sanctum .article h1:after, .light .article h1:after {
        @apply content-[''] absolute top-[calc(100%+2px)] left-0 w-full border-border-strong border-b-[1px];
    }
    .sanctum .article h2, .light .article h2 {
        @apply underline underline-offset-2;
    }

    /* apply font to toastify box */
    .sanctum .myToast, .light .myToast {
        font-family: var(--font-lato);
    }
    .catppuccin .myToast, .dark .myToast {
        font-family: var(--font-space);
    }
    .gruvbox .myToast {
        font-family: var(--font-pangolin);
    }

    /* theme-specific badges https://tailwindcss.com/plus/ui-blocks/application-ui/elements/badges */
    .sanctum .badge-red, .light .badge-red {
        @apply bg-red-50 text-red-700 ring-red-600/10;
    }
    .catppuccin .badge-red, .gruvbox .badge-red, .dark .badge-red {
        @apply bg-red-400/10 text-red-400 ring-red-400/30;
    }
    .sanctum .badge-yellow, .light .badge-yellow {
        @apply bg-yellow-50 text-yellow-800 ring-yellow-600/20;
    }
    .catppuccin .badge-yellow, .gruvbox .badge-yellow, .dark .badge-yellow {
        @apply bg-yellow-400/10 text-yellow-400 ring-yellow-400/30;
    }
    .sanctum .badge-green, .light .badge-green {
        @apply bg-green-50 text-green-700 ring-green-600/20;
    }
    .catppuccin .badge-green, .gruvbox .badge-green, .dark .badge-green {
        @apply bg-green-400/10 text-green-400 ring-green-400/30;
    }
    .sanctum .badge-blue, .light .badge-blue {
        @apply bg-blue-50 text-blue-700 ring-blue-700/10;
    }
    .catppuccin .badge-blue, .gruvbox .badge-blue, .dark .badge-blue {
        @apply bg-blue-400/10 text-blue-400 ring-blue-400/30;
    }
    .sanctum .badge-indigo, .light .badge-indigo {
        @apply bg-indigo-50 text-indigo-700 ring-indigo-700/10;
    }
    .catppuccin .badge-indigo, .gruvbox .badge-indigo, .dark .badge-indigo {
        @apply bg-indigo-400/10 text-indigo-400 ring-indigo-400/30;
    }
    .sanctum .badge-purple, .light .badge-purple {
        @apply bg-purple-50 text-purple-700 ring-purple-700/10;
    }
    .catppuccin .badge-purple, .gruvbox .badge-purple, .dark .badge-purple {
        @apply bg-purple-400/10 text-purple-400 ring-purple-400/30;
    }
    .sanctum .badge-pink, .light .badge-pink {
        @apply bg-pink-50 text-pink-700 ring-pink-700/10;
    }
    .catppuccin .badge-pink, .gruvbox .badge-pink, .dark .badge-pink {
        @apply bg-pink-400/10 text-pink-400 ring-pink-400/30;
    }
    .sanctum .badge-gray, .light .badge-gray {
        @apply bg-gray-50 text-gray-600 ring-gray-500/10;
    }
    .catppuccin .badge-gray, .gruvbox .badge-gray, .dark .badge-gray {
        @apply bg-gray-400/10 text-gray-400 ring-gray-400/30;
    }

    /* hero */
    .hero {
        @apply rounded-2xl;
    }
    .catppuccin .hero, .dark .hero {
        background-image: url('/hero/catppuccin.png');
        background-size: cover;
    }
    .catppuccin .hero-text, .dark .hero-text {
        @apply lg:!col-span-12 lg:ml-16;
    }
    .catppuccin .hero-image, .dark .hero-image {
        @apply !hidden;
    }
    .gruvbox .hero {
        background-color: #222526;
        @apply border-2 border-border-strong;
    }
    .gruvbox .hero-image > div {
        background-image: url('/hero/gruvbox.png');
    }
    .sanctum .hero {
        background-color: rgba(255, 255, 255, 0.6);
        background-image: url('/hero/sanctum-bg.png');
        background-blend-mode: lighten;
        background-size: cover;
    }
    .sanctum .hero-image > div {
        background-image: url('/hero/sanctum.svg');
    }
    .sanctum .hero-text > a {
        @apply border-2 border-Hero-text;
    }

    /* END THEME SPECIFIC STUFF */

}

/* middle specificity */
@layer components {

    .dirtree {
        @apply text-lg bg-background pb-4;
    }

    /* first tree item is special (root) */

    .dirtree > li:before, .dirtree > li:after {
        @apply hidden;
    }

    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    .scrollshadow-vertical {
        background:
            /* Shadow Cover TOP */
            linear-gradient(
            rgb(var(--color-Scrollshadow-cover)) 30%,
            rgba(var(--color-Scrollshadow-cover), 0)
            ) center top,
            
            /* Shadow Cover BOTTOM */
            linear-gradient(
            rgba(var(--color-Scrollshadow-cover), 0), 
            rgb(var(--color-Scrollshadow-cover)) 70%
            ) center bottom,
            
            /* Shadow TOP */
            radial-gradient(
            farthest-side at 50% 0,
            rgba(var(--color-Scrollshadow-shadow), 0.3),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center top,
            
            /* Shadow BOTTOM */
            radial-gradient(
            farthest-side at 50% 100%,
            rgba(var(--color-Scrollshadow-shadow), 0.3),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center bottom;
        
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }
    .scrollshadow-horizontal {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(var(--color-Scrollshadow-cover), 0),
            rgb(var(--color-Scrollshadow-cover)) 10px
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(var(--color-Scrollshadow-cover), 0),
            rgb(var(--color-Scrollshadow-cover)) 10px
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
        background-attachment: local, local, scroll, scroll;
    }
    .scrollshadow-horizontal-blockquote {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(var(--color-Scrollshadow-blockquote-cover), 0),
            rgb(var(--color-Scrollshadow-blockquote-cover)) 10px
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(var(--color-Scrollshadow-blockquote-cover), 0), 
            rgb(var(--color-Scrollshadow-blockquote-cover)) 10px
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
        background-attachment: local, local, scroll, scroll;
    }

    .folder-li {
        @apply !ml-0;
    }

    .article {
        @apply space-y-2;
    }

    .article h1 {
        @apply text-3xl font-bold relative mb-4 text-articleh1;
    }

    .article h2 {
        @apply text-2xl font-bold pt-6 pb-2 text-articleh2;
    }

    .article em {
        @apply text-text-emph;
    }

    .article ul li {
        @apply list-disc ml-6;
    }

    .article hr {
        @apply border-border-strong;
    }

    .article ol li {
        @apply list-decimal ml-6;
    }

    .article blockquote {
        @apply border-l-4 border-border-subtle p-2 pl-4 bg-blockquote shadow-lg;
        @apply !my-4;
    }

    /* markdown footnotes */

    .article .footnotes {
        @apply text-sm text-text-secondary pt-4;
    }
    .article .footnote-ref {
        @apply text-sm text-text-secondary;
    }
    .article .footnotes > ol {
        @apply pt-2;
    }
    .article .footnotes > ol > li {
        @apply list-decimal;
    }

    /* markdown code blocks */

    .article .codehilite {
        @apply p-4 rounded-xl mt-4;
    }
    .article pre {
        @apply max-w-full py-1 overflow-auto;
    }

    .article pre:not(.codehilite *) {
        @apply p-4 rounded-xl bg-unhighlighted-code;
    }

    .article pre:not(.codehilite *) code {
        @apply block max-w-full py-1 overflow-auto;
    }

    code {
        @apply break-all;
        font-family: var(--font-fira);
    }
    pre > code {
        @apply whitespace-nowrap;
    }

    /* markdown tables */

    .article table:not(.notmdtable) {
        @apply table-auto my-2 whitespace-nowrap text-sm;
    }
    .article td:not(.notmdtable *) { /* when want to add manual table, mark it as notmdtable */
        @apply border-2 border-border-strong py-1 px-3 text-center;
    }

    /* bold inside definitions */
    .defn strong {
        @apply text-Math-accent-defn;
    }

}

/* highest specificity */
@layer utilities {

    .changelog {
        @apply text-sm;
    }

    .changelog h2 {
        @apply text-Changelog-dates italic text-base no-underline p-0 mb-0 mt-3;
    }

    .changelog h2:first-of-type {
        @apply mt-0;
    }

    .changelog h3 {
        @apply text-lg text-Changelog-titles font-bold ml-4;
    }

    .changelog li {
        @apply !ml-10;
    }

    .faq-question > summary {
        @apply py-2 outline-none hover:underline cursor-crosshair font-bold text-lg;
    }

    .faq-question:first-child > summary {
        @apply pt-0;
    }

    /* make links work in faq section titles */
    summary a * {
        pointer-events: none;
    }

    .faq-question[open=''] > summary {
        @apply text-articleh2;
    }

    .faq-question > div {
        @apply px-4 pb-4;
    }


}