@import 'tailwindcss';
@source '../app/**/*.{js,ts,jsx,tsx,mdx}';
@source '../components/**/*.{js,ts,jsx,tsx,mdx}';
@import './styles/themes/sanctum.css';
@import './styles/themes/catppuccin.css';
@import './styles/themes/gruvbox.css';
@import './styles/codehilite.css';

@theme {
    --breakpoint-3xs: 200px;
    --breakpoint-2xs: 250px;
    --breakpoint-xs: 300px;
    --breakpoint-sm: 380px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

/* lowest specificity */
@layer base {

    body {
        --toastify-toast-width: 300px !important;
        @apply bg-background text-text-primary;
        font-family: var(--font-space);
    }

    .latex-display-wrapper {
        @apply overflow-auto mx-auto flex;
        max-width: 100%;
        justify-content: flex-start;
    }

    .latex-display-wrapper > span {
        @apply inline-block px-4 text-center mx-auto;
    }

    .latex-display-wrapper > span > * {
        @apply !my-2; /* override the default margin, because it's too big */
    }

    /* BEGIN THEME-SPECIFIC STUFF */

    /* apply underline to article h1 and h2, for the themes that have it */
    .sanctum .article h1:after, .light .article h1:after {
        @apply content-[''] absolute top-[calc(100%+2px)] left-0 w-full border-border-strong border-b-[1px];
    }
    .sanctum .article h2, .light .article h2 {
        @apply underline underline-offset-2;
    }

    /* apply font to toastify box */
    .sanctum .myToast, .light .myToast {
        font-family: var(--font-lato);
    }
    .catppuccin .myToast, .dark .myToast {
        font-family: var(--font-space);
    }
    .gruvbox .myToast {
        font-family: var(--font-pangolin);
    }

    /* theme-specific badges https://tailwindcss.com/plus/ui-blocks/application-ui/elements/badges */
    .sanctum .badge-red, .light .badge-red {
        background-color: rgb(254, 242, 242);
        color: rgb(185, 28, 28);
        --tw-ring-color: rgba(220, 38, 38, 0.1);
    }
    .catppuccin .badge-red, .gruvbox .badge-red, .dark .badge-red {
        background-color: rgba(248, 113, 113, 0.1);
        color: rgb(248, 113, 113);
        --tw-ring-color: rgba(248, 113, 113, 0.3);
    }
    .sanctum .badge-yellow, .light .badge-yellow {
        background-color: rgb(254, 252, 232);
        color: rgb(146, 64, 14);
        --tw-ring-color: rgba(217, 119, 6, 0.2);
    }
    .catppuccin .badge-yellow, .gruvbox .badge-yellow, .dark .badge-yellow {
        background-color: rgba(251, 191, 36, 0.1);
        color: rgb(251, 191, 36);
        --tw-ring-color: rgba(251, 191, 36, 0.3);
    }
    .sanctum .badge-green, .light .badge-green {
        background-color: rgb(240, 253, 244);
        color: rgb(21, 128, 61);
        --tw-ring-color: rgba(22, 163, 74, 0.2);
    }
    .catppuccin .badge-green, .gruvbox .badge-green, .dark .badge-green {
        background-color: rgba(74, 222, 128, 0.1);
        color: rgb(74, 222, 128);
        --tw-ring-color: rgba(74, 222, 128, 0.3);
    }
    .sanctum .badge-blue, .light .badge-blue {
        background-color: rgb(239, 246, 255);
        color: rgb(29, 78, 216);
        --tw-ring-color: rgba(29, 78, 216, 0.1);
    }
    .catppuccin .badge-blue, .gruvbox .badge-blue, .dark .badge-blue {
        background-color: rgba(96, 165, 250, 0.1);
        color: rgb(96, 165, 250);
        --tw-ring-color: rgba(96, 165, 250, 0.3);
    }
    .sanctum .badge-indigo, .light .badge-indigo {
        background-color: rgb(238, 242, 255);
        color: rgb(67, 56, 202);
        --tw-ring-color: rgba(67, 56, 202, 0.1);
    }
    .catppuccin .badge-indigo, .gruvbox .badge-indigo, .dark .badge-indigo {
        background-color: rgba(129, 140, 248, 0.1);
        color: rgb(129, 140, 248);
        --tw-ring-color: rgba(129, 140, 248, 0.3);
    }
    .sanctum .badge-purple, .light .badge-purple {
        background-color: rgb(250, 245, 255);
        color: rgb(126, 34, 206);
        --tw-ring-color: rgba(126, 34, 206, 0.1);
    }
    .catppuccin .badge-purple, .gruvbox .badge-purple, .dark .badge-purple {
        background-color: rgba(196, 181, 253, 0.1);
        color: rgb(196, 181, 253);
        --tw-ring-color: rgba(196, 181, 253, 0.3);
    }
    .sanctum .badge-pink, .light .badge-pink {
        background-color: rgb(253, 242, 248);
        color: rgb(190, 24, 93);
        --tw-ring-color: rgba(190, 24, 93, 0.1);
    }
    .catppuccin .badge-pink, .gruvbox .badge-pink, .dark .badge-pink {
        background-color: rgba(244, 114, 182, 0.1);
        color: rgb(244, 114, 182);
        --tw-ring-color: rgba(244, 114, 182, 0.3);
    }
    .sanctum .badge-gray, .light .badge-gray {
        background-color: rgb(249, 250, 251);
        color: rgb(75, 85, 99);
        --tw-ring-color: rgba(107, 114, 128, 0.1);
    }
    .catppuccin .badge-gray, .gruvbox .badge-gray, .dark .badge-gray {
        background-color: rgba(156, 163, 175, 0.1);
        color: rgb(156, 163, 175);
        --tw-ring-color: rgba(156, 163, 175, 0.3);
    }

    /* hero */
    .hero {
        @apply rounded-2xl;
    }
    .catppuccin .hero, .dark .hero {
        background-image: url('/hero/catppuccin.png');
        background-size: cover;
    }
    .catppuccin .hero-text, .dark .hero-text {
        @apply lg:!col-span-12 lg:ml-16;
    }
    .catppuccin .hero-image, .dark .hero-image {
        @apply !hidden;
    }
    .sanctum .hero, .light .hero {
        background-color: rgba(255, 255, 255, 0.6);
        background-image: url('/hero/sanctum-bg.png');
        background-blend-mode: lighten;
        background-size: cover;
    }
    .sanctum .hero-image > div, .light .hero-image > div {
        background-image: url('/hero/sanctum.svg');
    }
    .sanctum .hero-text > a, .light .hero-text > a {
        @apply border-2 border-Hero-text;
    }
    .gruvbox .hero {
        background-color: #222526;
        @apply border-2 border-border-strong;
    }
    .gruvbox .hero-image > div {
        background-image: url('/hero/gruvbox.png');
    }

    /* END THEME SPECIFIC STUFF */

}

/* middle specificity */
@layer components {

    .dirtree {
        @apply text-lg bg-background pb-4;
    }

    .dirtree > li:before, .dirtree > li:after {
        @apply hidden;
    }

    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    .scrollshadow-vertical {
        background:
            /* Shadow Cover TOP */
            linear-gradient(
            rgb(var(--color-Scrollshadow-cover)) 30%,
            rgba(var(--color-Scrollshadow-cover), 0)
            ) center top,
            
            /* Shadow Cover BOTTOM */
            linear-gradient(
            rgba(var(--color-Scrollshadow-cover), 0), 
            rgb(var(--color-Scrollshadow-cover)) 70%
            ) center bottom,
            
            /* Shadow TOP */
            radial-gradient(
            farthest-side at 50% 0,
            rgba(var(--color-Scrollshadow-shadow), 0.3),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center top,
            
            /* Shadow BOTTOM */
            radial-gradient(
            farthest-side at 50% 100%,
            rgba(var(--color-Scrollshadow-shadow), 0.3),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center bottom;
        
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }
    .scrollshadow-horizontal {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(var(--color-Scrollshadow-cover), 0),
            rgb(var(--color-Scrollshadow-cover)) 10px
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(var(--color-Scrollshadow-cover), 0),
            rgb(var(--color-Scrollshadow-cover)) 10px
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
        background-attachment: local, local, scroll, scroll;
    }
    .scrollshadow-horizontal-blockquote {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(var(--color-Scrollshadow-blockquote-cover), 0),
            rgb(var(--color-Scrollshadow-blockquote-cover)) 10px
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(var(--color-Scrollshadow-blockquote-cover), 0), 
            rgb(var(--color-Scrollshadow-blockquote-cover)) 10px
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(var(--color-Scrollshadow-shadow), 0.5),
            rgba(var(--color-Scrollshadow-shadow), 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
        background-attachment: local, local, scroll, scroll;
    }

    .folder-li {
        @apply !ml-0;
    }

    .article {
        @apply space-y-2;
    }

    .article h1 {
        @apply text-3xl font-bold relative mb-4 text-articleh1;
    }

    .article h2 {
        @apply text-2xl font-bold pt-6 pb-2 text-articleh2;
    }

    .article em {
        @apply text-text-emph;
    }

    .article ul li {
        @apply list-disc ml-6;
    }

    .article hr {
        @apply border-border-strong;
    }

    .article ol li {
        @apply list-decimal ml-6;
    }

    .article blockquote {
        @apply border-l-4 border-border-subtle p-2 pl-4 bg-blockquote shadow-lg;
        @apply !my-4;
    }

    /* markdown footnotes */

    .article .footnotes {
        @apply text-sm text-text-secondary pt-4;
    }
    .article .footnote-ref {
        @apply text-sm text-text-secondary;
    }
    .article .footnotes > ol {
        @apply pt-2;
    }
    .article .footnotes > ol > li {
        @apply list-decimal;
    }

    /* markdown code blocks */

    .article .codehilite {
        @apply p-4 rounded-xl mt-4;
    }
    .article pre {
        @apply max-w-full py-1 overflow-auto;
    }

    .article pre:not(.codehilite *) {
        @apply p-4 rounded-xl bg-unhighlighted-code;
    }

    .article pre:not(.codehilite *) code {
        @apply block max-w-full py-1 overflow-auto;
    }

    code {
        @apply break-all;
        font-family: var(--font-fira);
    }
    pre > code {
        @apply whitespace-nowrap;
    }

    /* markdown tables */

    .article table:not(.notmdtable) {
        @apply table-auto my-2 whitespace-nowrap text-sm;
    }
    .article th:not(.notmdtable *):not(:empty) { /* table headers - only non-empty ones */
        @apply border-l-2 border-r-2 border-b-2 border-border-strong py-1 px-3 text-center font-semibold;
    }
    .article th:not(.notmdtable *):empty { /* empty table headers */
        @apply py-1 px-3;
    }
    .article td:not(.notmdtable *) { /* when want to add manual table, mark it as notmdtable */
        @apply border-2 border-border-strong py-1 px-3 text-center;
    }

    /* bold inside definitions */
    .defn strong {
        @apply text-Math-accent-defn;
    }

    .quiz-option {
        @apply flex items-center ml-2;
    }

    .quiz-option-label {
        @apply hover:outline-2 outline-border-subtle rounded-sm px-0.5 ml-1;
    }

    .quiz-input-tag {
        @apply shrink-0;
    }

    .quiz-input-tag:disabled {
        @apply cursor-not-allowed;
    }

    .quiz-text {
        @apply my-2;
    }

    .quiz-text:last-child {
        @apply mb-0;
    }

}

/* highest specificity */
@layer utilities {

    .changelog {
        @apply text-sm;
    }

    .changelog h2 {
        @apply text-Changelog-dates italic text-base no-underline p-0 mb-0 mt-3;
    }

    .changelog h2:first-of-type {
        @apply mt-0;
    }

    .changelog h3 {
        @apply text-lg text-Changelog-titles font-bold ml-4;
    }

    .changelog li {
        @apply !ml-10;
    }

    .faq-question > summary {
        @apply py-2 outline-none hover:underline cursor-crosshair font-bold text-lg;
    }

    .faq-question:first-child > summary {
        @apply pt-0;
    }

    /* make links work in faq section titles */
    summary a * {
        pointer-events: none;
    }

    .faq-question[open=''] > summary {
        @apply text-articleh2;
    }

    .faq-question > div {
        @apply px-4 pb-4;
    }

}