@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --toastify-font-family: var(--font-sans) !important;
        --toastify-toast-width: 250px !important;
        --toastify-color-dark: #000000 !important;
        --toastify-color-progress-dark: #e5c07b !important;
    }

    body {
        @apply bg-body text-white font-sans;
    }

}

@layer components {

    .dirtree {
        @apply pt-4 text-lg;
    }

    .dirtree span {
        @apply font-bold;
    }

    .dirtree ul {
        @apply pl-[7px];
    }

    .dirtree ul li {
        @apply relative py-1 pl-5 box-border;
    }

    .dirtree ul li:before {
        @apply content-[''] absolute top-[18px] left-0 w-4 h-[2px] bg-elevated;
    }

    .dirtree .file {
        @apply pl-5;
    }

    .dirtree .file > p {
        @apply relative top-[1px] left-[1px];
    }

    .dirtree button {
        @apply relative top-[1px]
    }

    .dirtree ul li:after {
        @apply content-[''] absolute top-0 bottom-0 left-0 h-full w-[2px] bg-elevated;
    }

    .dirtree ul li:last-child:after {
        @apply h-[18px];
    }

    /* first tree item is special (root) */

    .dirtree > ul > li:before, .dirtree > ul > li:after {
        @apply hidden;
    }

    .dirtree > ul, .dirtree > ul > li {
        @apply p-0;
    }

    .dirtree > ul > li > span {
        @apply w-full flex justify-start mb-1 text-3xl font-bold text-white;
    }

}

@layer utilities {

    .-z-1 {
        z-index: -1;
    }

    .sticky {
        position: sticky;
        top: 0;
    }

    li {
        list-style: none;
    }

    .article {
        @apply text-lg space-y-2;
    }

    .article h1 {
        @apply text-3xl font-bold relative mb-6;
    }

    .article h1:after {
        @apply content-[''] absolute top-[calc(100%+4px)] left-0 w-full border-elevated border-b-[1px];
    }

    .article h2 {
        @apply text-xl font-bold relative pt-2 pb-2 underline underline-offset-8 decoration-1 decoration-elevated;
        margin-top: 1rem !important;
    }

    .article em {
        @apply text-italic;
    }

    .article strong {
        @apply text-bold;
    }

    .article ul li {
        @apply list-disc ml-8;
    }

    .article ol li {
        @apply list-decimal ml-8;
    }

    .folder-li {
        margin-left: 0 !important;
    }

    .article blockquote {
        @apply border-l-4 border-elevated p-2 pl-4 bg-black bg-opacity-30;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    /* markdown footnotes */

    .article .footnotes {
        @apply text-sm text-elevated pt-4;
    }
    .article .footnote-ref {
        @apply text-sm text-elevated;
    }
    .article .footnotes > ol {
        @apply pt-2;
    }

    /* markdown code blocks */

    .article pre {
        @apply p-4 bg-black bg-opacity-30;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    code {
        @apply font-mono text-base text-elevated;
        @apply ml-1;
        white-space : pre-wrap !important;
    }

    pre > code {
        @apply text-white;
        @apply ml-0;
    }

    /* markdown tables */

    .article table {
        @apply table-auto my-2;
    }

    .article td {
        @apply border-2 border-elevated py-1 px-3 text-center;
    }

}