@tailwind base;

@layer base {

    .catppuccin {
        /* https://github.com/morhetz/gruvbox */
        /* https://catppuccin.com/palette/ */
        /* helper colours (taken from mocha theme) - marked with comment means used */
        --rosewater: #f5e0dc; /**/
        --flamingo: #f2cdcd; /**/
        --pink: #f5c2e7; /**/
        --mauve: #cba6f7; /**/
        --red: #f38ba8; /**/
        --maroon: #eba0ac; /**/
        --peach: #fab387; /**/
        --yellow: #f9e2af; /**/
        --green: #a6e3a1; /**/
        --teal: #94e2d5; /**/
        --sky: #89dceb; /**/
        --sapphire: #74c7ec; /**/
        --blue: #89b4fa; /**/
        --lavender: #b4befe; /**/
        --text: #cdd6f4; /**/
        --subtext1: #bac2de; /**/
        --subtext0: #a6adc8; /**/
        --overlay2: #9399b2; /**/
        --overlay1: #7f849c; /**/
        --overlay1rgb: 127, 132, 156; /**/
        --overlay0: #6c7086; /**/
        --surface2: #585b70; /**/
        --surface1: #45475a; /**/
        --surface1rgb: 69, 71, 90; /**/
        --surface0: #313244; /**/
        --base: #1e1e2e; /**/
        --mantle: #181825; /**/
        --crust: #11111b; /**/
        --crustrgb: 17, 17, 27; /**/

        /* begin definitions */
        @apply font-space text-base;
        --toastify-color-light: var(--surface1) !important;
        --toastify-color-progress-light: var(--mauve) !important;
        color-scheme: dark;
        --background: var(--base);
        --text-primary: var(--text);
        --text-secondary: var(--overlay2);
        --text-placeholder: var(--surface2);
        --articleh1: var(--mauve);
        --articleh2: var(--pink);
        --link: var(--blue);
        --folder-icon: var(--maroon);
        --course-icon: var(--peach);
        --article-icon: var(--sapphire);
        --blockquote: var(--crust);
        --unhighlighted-code: rgba(var(--surface1rgb), .5);
        --border-subtle: var(--surface1);
        --border-strong: var(--overlay1);
        --text-emph: var(--peach);
        --button: var(--surface1);
        --button-hover: var(--overlay0);
        --linkanchor: var(--yellow);

        --Filetree-text-current: var(--base);
        --Filetree-current: var(--lavender);
        --Filetree-hover: rgba(var(--surface1rgb), .5);
        --Filetree-chevron: var(--green);
        --Filetree-chevron-hover: rgba(var(--overlay1rgb), .5);
        --Filetree-chevron-current: var(--base);
        --Filetree-chevron-current-hover: rgba(var(--overlay1rgb), .5);
        --Filetree-pipe: var(--surface0);
        --Filetree-pipe-current: var(--subtext0);
        --Mobiletopbar: rgba(var(--surface1rgb), .2);
        --Searchbar: var(--mantle);
        --Searchbar-hover: var(--surface0);
        --Searchbar-ring-hover: var(--teal);
        --Searchpopup-result: rgba(var(--surface1rgb), .5);
        --Searchpopup-result-selected: rgba(var(--overlay1rgb), .5);
        --Searchpopup-arrow-selected: var(--green);
        --Searchpopup-highlight-dir: var(--sky);
        --Searchpopup-highlight-title: var(--mauve);
        --Searchpopup-highlight-content: var(--rosewater);
        --Table-bar: var(--maroon);
        --Table-bartext: var(--surface0);
        --Table-rows: var(--surface0);
        --Popup-overlay: rgba(var(--crustrgb), .5);
        --Copybutton-icon: var(--yellow);
        --Spoiler-accent: var(--red);
        --Changelog-dates: var(--green);
        --Changelog-titles: var(--pink);
        --Incompletemsg: var(--red);
        --Math-accent-thm: var(--green);
        --Math-accent-proof: var(--peach);
        --Math-accent-defn: var(--sapphire);
        --Math-accent-example: var(--peach);
        --Math-accent-lemma: var(--pink);
        --Codeblock-bg: #11111b; /* for codehilite.css */
        --Themeselect-topbar: var(--surface0);
        --Themeselect-selected: var(--mauve);
        --Themeselect-text-selected: var(--crust);
        --Themeselect-hover: var(--surface1);
        --Scrollshadow-cover: 30, 30, 46; /* rgb of background */
        --Scrollshadow-blockquote-cover: 17, 17, 27; /* rgb of blockquote background */
        --Scrollshadow-shadow: 255, 255, 255;
        --Hero-text: var(--mauve);
        --Svg-text: var(--text-primary);
        --Svg-gray: var(--overlay0);
        --Svg-text-highlight: var(--articleh1);
        --Svg-line-highlight-1: var(--teal);
        --Svg-line-highlight-2: var(--maroon);
        --Svg-fill-highlight-1: var(--blue);
        --Svg-fill-highlight-2: var(--lavender); /* junk */
        --Svg-fill-highlight-3: var(--rosewater); /* junk */
    }

}