@tailwind base;

@layer base {

    .sanctum {
        /* https://github.com/jdanielmourao/obsidian-sanctum/blob/main/theme.css */
        /* helper colours - marked with comment means used */
        --white: 255, 255, 255; /**/
        --gray-5: 250, 250, 245; /**/
        --gray-10: 244, 244, 240; /**/
        --gray-20: 226, 224, 220; /**/
        --gray-30: 199, 197, 194; /**/
        --gray-40: 169, 168, 165; /**/
        --gray-50: 142, 140, 139; /**/
        --gray-60: 112, 110, 109; /**/
        --gray-70: 84, 81, 81; /**/
        --gray-80: 58, 56, 56; /**/
        --gray-90: 38, 38, 37;
        --gray-100: 22, 22, 22; /**/
        --black: 0, 0, 0; /**/
        --blue: hsl(199.5, 38.8%, 40.4%); /**/
        --bright-blue: #6cd0d0; /**/
        --orange: hsl(18.3, 75%, 54.5%); /**/
        --pink: hsl(343.4, 62.8%, 49.6%); /**/

        /* begin definitions */
        @apply font-lato text-base;
        --toastify-color-light: white !important;
        --toastify-color-progress-light: var(--pink) !important;
        color-scheme: light;
        --background: rgb(var(--white));
        --text-primary: rgb(var(--black));
        --text-secondary: rgb(var(--gray-70));
        --text-placeholder: rgb(var(--gray-40));
        --articleh1: var(--text-primary);
        --articleh2: var(--text-primary);
        --link: var(--blue);
        --folder-icon: var(--blue);
        --course-icon: var(--black);
        --article-icon: rgb(var(--gray-70));
        --blockquote: rgb(var(--gray-5));
        --unhighlighted-code: rgba(var(--gray-20), 0.5);
        --border-subtle: rgb(var(--gray-20));
        --border-strong: rgb(var(--gray-50));
        --text-emph: var(--pink);
        --button: rgb(var(--gray-20));
        --button-hover: rgba(var(--gray-30));
        --linkanchor: var(--orange);

        --Filetree-text-current: rgb(var(--white));
        --Filetree-current: rgb(var(--gray-80));
        --Filetree-hover: rgba(var(--gray-50), .12);
        --Filetree-chevron: rgb(var(--gray-70));
        --Filetree-chevron-hover: rgba(var(--gray-50), .32);
        --Filetree-chevron-current: rgb(var(--white));
        --Filetree-chevron-current-hover: rgba(var(--gray-70), .5);
        --Filetree-pipe: rgb(var(--gray-20));
        --Filetree-pipe-current: rgb(var(--gray-100));
        --Mobiletopbar: rgba(var(--gray-70), .5);
        --Searchbar: rgb(var(--white));
        --Searchbar-hover: rgb(var(--gray-20));
        --Searchbar-ring-hover: var(--blue);
        --Searchpopup-result: rgba(var(--gray-50), .12);
        --Searchpopup-result-selected: rgb(var(--gray-20));
        --Searchpopup-arrow-selected: rgb(var(--white));
        --Searchpopup-highlight-dir: var(--orange);
        --Searchpopup-highlight-title: var(--pink);
        --Searchpopup-highlight-content: var(--blue);
        --Table-bar: rgb(var(--gray-20))    --Svg-text: var(--text-primary);
        --Svg-text-highlight-1: var(--light-red);
        --Svg-text-highlight-2: var(--light-blue);
        --Svg-text-highlight-3: var(--orange);
        --Svg-fill: var(--gray);
        --Svg-fill-highlight-1: var(--light-yellow);
        --Svg-fill-highlight-2: var(--aqua);
        --Svg-fill-highlight-3: var(--purple);;
        --Table-bartext: rgb(var(--gray-70));
        --Table-rows: rgb(var(--white));
        --Popup-overlay: rgba(var(--gray-100), .5);
        --Copybutton-icon: var(--orange);
        --Spoiler-accent: var(--orange);
        --Changelog-dates: var(--orange);
        --Changelog-titles: var(--pink);
        --Incompletemsg: var(--pink);
        --Math-accent-thm: var(--pink);
        --Math-accent-proof: var(--orange);
        --Math-accent-defn: var(--bright-blue);
        --Math-accent-example: var(--orange);
        --Math-accent-lemma: var(--pink);
        --Codeblock-bg: #282c34; /* for codehilite.css */
        --Themeselect-topbar: rgb(var(--gray-10));
        --Themeselect-selected: var(--blue);
        --Themeselect-text-selected: rgb(var(--white));
        --Themeselect-hover: rgba(var(--gray-30));
        --Scrollshadow-cover: var(--white); /* rgb of background */
        --Scrollshadow-blockquote-cover: var(--gray-5); /* rgb of blockquote background */
        --Scrollshadow-shadow: var(--black);
        --Svg-text: var(--text-primary);
        --Svg-gray: rgb(var(--gray-30));
        --Svg-text-highlight: var(--pink);
        --Svg-line-highlight-1: #20a0ff;
        --Svg-line-highlight-2: var(--orange);
        --Svg-fill-highlight-1: #9f9;
        --Svg-fill-highlight-2: #f99; /* junk */
        --Svg-fill-highlight-3: #99f; /* junk */
    }

}