@import 'themes/default.css';
@import 'themes/sanctum.css';
@import 'themes/catppuccin.css';
@import 'themes/gruvbox.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        --toastify-toast-width: 300px !important;
        @apply bg-background text-text-primary;
    }

    .latex-display-wrapper {
        @apply flex justify-center overflow-auto max-w-min mx-auto;
    }

    .latex-display-wrapper > span {
        @apply inline-block px-4 text-center mx-auto;
    }

    .latex-display-wrapper > span > * {
        @apply !my-2; /* override the default margin, because it's too big */
    }

}

@layer components {

    .dirtree {
        @apply text-lg bg-background pb-4;
    }

    /* first tree item is special (root) */

    .dirtree > li:before, .dirtree > li:after {
        @apply hidden;
    }

    .changelog {
        @apply text-sm;
    }

    .changelog h2 {
        @apply text-Changelog-dates italic mt-3 text-base;
    }

    .changelog h2:first-of-type {
        @apply mt-0;
    }

    .changelog h3 {
        @apply text-lg text-Changelog-titles font-bold ml-4;
    }

    .changelog li {
        @apply !ml-10;
    }

    .faq-question > summary {
        @apply py-2 outline-none cursor-pointer font-bold text-lg;
    }

    .faq-question[open=''] > summary {
        @apply text-articleh2;
    }

    .faq-question > div {
        @apply px-4 pb-4;
    }
}

@layer utilities {

    /* BEGIN THEME-SPECIFIC STUFF */

    /* apply underline to article h1 and h2, for the themes that have it */
    .sanctum .article h1:after {
        @apply content-[''] absolute top-[calc(100%+2px)] left-0 w-full border-border-strong border-b-[1px];
    }
    .sanctum .article h2 {
        @apply underline underline-offset-2;
    }

    /* apply font to toastify box */
    .sanctum .myToast {
        @apply font-lato;
    }
    .catppuccin .myToast {
        @apply font-space;
    }
    .gruvbox .myToast {
        @apply font-pangolin;
    }

    /* theme-specific badges https://tailwindcss.com/plus/ui-blocks/application-ui/elements/badges */
    .sanctum .badge-red {
        @apply bg-red-50 text-red-700 ring-red-600/10;
    }
    .catppuccin .badge-red, .gruvbox .badge-red {
        @apply bg-red-400/10 text-red-400 ring-red-400/30;
    }
    .sanctum .badge-yellow {
        @apply bg-yellow-50 text-yellow-800 ring-yellow-600/20;
    }
    .catppuccin .badge-yellow, .gruvbox .badge-yellow {
        @apply bg-yellow-400/10 text-yellow-400 ring-yellow-400/30;
    }
    .sanctum .badge-green {
        @apply bg-green-50 text-green-700 ring-green-600/20;
    }
    .catppuccin .badge-green, .gruvbox .badge-green {
        @apply bg-green-400/10 text-green-400 ring-green-400/30;
    }
    .sanctum .badge-blue {
        @apply bg-blue-50 text-blue-700 ring-blue-700/10;
    }
    .catppuccin .badge-blue, .gruvbox .badge-blue {
        @apply bg-blue-400/10 text-blue-400 ring-blue-400/30;
    }
    .sanctum .badge-indigo {
        @apply bg-indigo-50 text-indigo-700 ring-indigo-700/10;
    }
    .catppuccin .badge-indigo, .gruvbox .badge-indigo {
        @apply bg-indigo-400/10 text-indigo-400 ring-indigo-400/30;
    }
    .sanctum .badge-purple {
        @apply bg-purple-50 text-purple-700 ring-purple-700/10;
    }
    .catppuccin .badge-purple, .gruvbox .badge-purple {
        @apply bg-purple-400/10 text-purple-400 ring-purple-400/30;
    }
    .sanctum .badge-pink {
        @apply bg-pink-50 text-pink-700 ring-pink-700/10;
    }
    .catppuccin .badge-pink, .gruvbox .badge-pink {
        @apply bg-pink-400/10 text-pink-400 ring-pink-400/30;
    }
    .sanctum .badge-gray {
        @apply bg-gray-50 text-gray-600 ring-gray-500/10;
    }
    .catppuccin .badge-gray, .gruvbox .badge-gray {
        @apply bg-gray-400/10 text-gray-400 ring-gray-400/30;
    }

    /* hero */
    .catppuccin .hero {
        background-image: url('../public/hero/catppuccin.png');
    }
    .catppuccin .hero-text {
        @apply lg:!col-span-12 lg:ml-16;
    }
    .catppuccin .hero-image {
        @apply !hidden;
    }
    .gruvbox .hero {
        background-color: #222526;
        @apply rounded-2xl border-2 border-border-strong;
    }
    .gruvbox .hero-image > div {
        background-image: url('../public/hero/gruvbox1.png');
    }
    .sanctum .hero {
        background-color: #ffeeff;
        @apply rounded-2xl;
    }
    .sanctum .hero-image > div {
        background-image: url('../public/hero/sanctum.svg');
    }

    /* END THEME SPECIFIC STUFF */

    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    .scrollshadow-vertical {
        background:
            /* Shadow Cover TOP */
            linear-gradient(
            rgb(theme(colors.Scrollshadow-cover)) 30%,
            rgba(theme(colors.Scrollshadow-cover), 0)
            ) center top,
            
            /* Shadow Cover BOTTOM */
            linear-gradient(
            rgba(theme(colors.Scrollshadow-cover), 0), 
            rgb(theme(colors.Scrollshadow-cover)) 70%
            ) center bottom,
            
            /* Shadow TOP */
            radial-gradient(
            farthest-side at 50% 0,
            rgba(theme(colors.Scrollshadow-shadow), 0.3),
            rgba(theme(colors.Scrollshadow-shadow), 0)
            ) center top,
            
            /* Shadow BOTTOM */
            radial-gradient(
            farthest-side at 50% 100%,
            rgba(theme(colors.Scrollshadow-shadow), 0.3),
            rgba(theme(colors.Scrollshadow-shadow), 0)
            ) center bottom;
        
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }
    .scrollshadow-horizontal {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(theme(colors.Scrollshadow-cover), 0),
            rgb(theme(colors.Scrollshadow-cover)) 10px
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(theme(colors.Scrollshadow-cover), 0),
            rgb(theme(colors.Scrollshadow-cover)) 10px
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(theme(colors.Scrollshadow-shadow), 0.5),
            rgba(theme(colors.Scrollshadow-shadow), 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(theme(colors.Scrollshadow-shadow), 0.5),
            rgba(theme(colors.Scrollshadow-shadow), 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
        background-attachment: local, local, scroll, scroll;
    }
    .scrollshadow-horizontal-blockquote {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(theme(colors.Scrollshadow-blockquote-cover), 0),
            rgb(theme(colors.Scrollshadow-blockquote-cover)) 10px
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(theme(colors.Scrollshadow-blockquote-cover), 0), 
            rgb(theme(colors.Scrollshadow-blockquote-cover)) 10px
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(theme(colors.Scrollshadow-shadow), 0.5),
            rgba(theme(colors.Scrollshadow-shadow), 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(theme(colors.Scrollshadow-shadow), 0.5),
            rgba(theme(colors.Scrollshadow-shadow), 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
        background-attachment: local, local, scroll, scroll;
    }

    .-z-1 {
        z-index: -1
    }

    li {
        list-style: none;
    }

    .article {
        @apply space-y-2;
    }

    .article h1 {
        @apply text-3xl font-bold relative mb-6 text-articleh1;
    }

    .article em {
        @apply text-text-emph;
    }

    .article ul li {
        @apply list-disc ml-6;
    }

    .article hr {
        @apply border-border-strong;
    }

    .article ol li {
        @apply list-decimal ml-6;
    }

    .folder-li {
        @apply !ml-0;
    }

    .article blockquote {
        @apply border-l-4 border-border-subtle p-2 pl-4 bg-blockquote shadow-lg;
        @apply !my-4;
    }

    /* markdown footnotes */

    .article .footnotes {
        @apply text-sm text-text-secondary pt-4;
    }
    .article .footnote-ref {
        @apply text-sm text-text-secondary;
    }
    .article .footnotes > ol {
        @apply pt-2;
    }

    /* markdown code blocks */

    .article .codehilite {
        @apply p-4 rounded-xl mt-4;
    }
    .article pre {
        @apply max-w-full py-1 overflow-auto;
    }

    .article pre:not(.codehilite *) {
        @apply p-4 rounded-xl bg-unhighlighted-code;
    }

    .article pre:not(.codehilite *) code {
        @apply block max-w-full py-1 overflow-auto;
    }

    code {
        @apply font-fira break-all;
    }
    pre > code {
        @apply whitespace-nowrap;
    }

    /* markdown tables */

    .article table:not(.notmdtable) {
        @apply table-auto my-2 whitespace-nowrap text-sm;
    }
    .article td:not(.notmdtable *) { /* when want to add manual table, mark it as notmdtable */
        @apply border-2 border-border-strong py-1 px-3 text-center;
    }

    /* bold inside definitions */
    .defn strong {
        @apply text-Math-accent-defn;
    }

}