@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        /* https://github.com/jdanielmourao/obsidian-sanctum/blob/main/theme.css */
        --white:
            255, 255, 255;
        --gray-10:
            244, 244, 240;
        --gray-20:
            226, 224, 220;
        --gray-30:
            199, 197, 194;
        --gray-40:
            169, 168, 165;
        --gray-50:
            142, 140, 139;
        --gray-60:
            112, 110, 109;
        --gray-70:
            84, 81, 81;
        --gray-80:
            58, 56, 56;
        --gray-90:
            38, 38, 37;
        --gray-100:
            22, 22, 22;
        --black:
            0, 0, 0;
        --blue: hsl(199.5, 38.8%, 40.4%);
        --bright-blue: #6cd0d0;
        --orange: hsl(18.3, 75%, 54.5%);
        --pink: hsl(343.4, 62.8%, 49.6%);

        color-scheme: light;
        --background: rgb(var(--white));
        --background-hover: rgba(var(--gray-50), .12);
        --background-hover-hover: rgba(var(--gray-50), .32);
        --background-inverse: rgb(var(--gray-80));
        --background-inverse-hover: rgba(var(--gray-70), .5);
        --top-bar-mobile: rgba(var(--gray-70), .5);
        --layer: rgb(var(--gray-20));
        --layer-hover: rgba(var(--gray-30));
        --field: rgb(var(--white));
        --field-hover: rgb(var(--gray-20));
        --blockquote: rgba(250, 250, 245);
        --unhighlighted-code: rgba(var(--gray-20), 0.5);
        --border-subtle: rgb(var(--gray-20));
        --border-subtle-selected: rgb(var(--gray-30));
        --border-strong: rgb(var(--gray-50));
        --border-inverse: rgb(var(--gray-100));
        --highlight-orange: var(--orange);
        --highlight-pink: var(--pink);
        --highlight-blue: var(--bright-blue);
        --text-primary: rgb(var(--black));
        --text-secondary: rgb(var(--gray-70));
        --text-placeholder: rgb(var(--gray-40));
        --text-inverse: rgb(var(--white));
        --focus: var(--blue);
        --link: var(--blue);
        --folder-icon: var(--blue);
        --course-icon: var(--black);
        --overlay: rgba(var(--gray-100), .5);
    }

    body {
        --toastify-toast-width: 300px !important;
        --toastify-color-light: white !important;
        --toastify-color-progress-light: var(--pink) !important;
        @apply bg-background text-text-primary font-text;
    }

    .latex-display-wrapper > span > * {
        @apply !m-2; /* override the default margin, because it's too big */
    }

}

@layer components {

    .dirtree {
        @apply text-lg bg-background pb-4;
    }

    /* first tree item is special (root) */

    .dirtree > li:before, .dirtree > li:after {
        @apply hidden;
    }

    .changelog {
        @apply text-sm;
    }

    .changelog h2 {
        @apply text-highlight-orange italic mt-3 text-base;
    }

    .changelog h2:first-of-type {
        @apply mt-0;
    }

    .changelog h3 {
        @apply text-lg text-highlight-pink font-bold ml-4;
    }

    .changelog li {
        @apply !ml-10;
    }

    /* https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
    .scrollshadow-vertical {
        background:
            /* Shadow Cover TOP */
            linear-gradient(
            white 30%,
            rgba(255, 255, 255, 0)
            ) center top,
            
            /* Shadow Cover BOTTOM */
            linear-gradient(
            rgba(255, 255, 255, 0), 
            white 70%
            ) center bottom,
            
            /* Shadow TOP */
            radial-gradient(
            farthest-side at 50% 0,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
            ) center top,
            
            /* Shadow BOTTOM */
            radial-gradient(
            farthest-side at 50% 100%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
            ) center bottom;
        
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }

    .scrollshadow-horizontal {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(255, 255, 255, 0),
            white 70%
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(255, 255, 255, 0), 
            white 70%
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
        background-attachment: local, local, scroll, scroll;
    }

    .scrollshadow-horizontal-blockquote {
        background:
            /* Shadow Cover LEFT */
            linear-gradient(
            to left,
            rgba(255, 255, 255, 0),
            rgb(250, 250, 245) 70%
            ) center left,
            
            /* Shadow Cover RIGHT */
            linear-gradient(
            to right,
            rgba(255, 255, 255, 0), 
            rgb(250, 250, 245) 70%
            ) center right,
            
            /* Shadow LEFT */
            radial-gradient(
            farthest-side at 0% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
            ) center left,
            
            /* Shadow RIGHT */
            radial-gradient(
            farthest-side at 100% 50%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
            ) center right;
        
        background-repeat: no-repeat;
        background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
        background-attachment: local, local, scroll, scroll;
    }

}

@layer utilities {

    .-z-1 {
        z-index: -1
    }

    li {
        list-style: none;
    }

    .article {
        @apply text-base space-y-2;
    }

    .article h1 {
        @apply text-3xl font-bold relative mb-6;
    }

    .article h1:after {
        @apply content-[''] absolute top-[calc(100%+2px)] left-0 w-full border-border-strong border-b-[1px];
    }

    .article em {
        @apply text-highlight-pink;
    }

    .article ul li {
        @apply list-disc ml-6;
    }

    .article hr {
        @apply border-border-strong;
    }

    .article ol li {
        @apply list-decimal ml-6;
    }

    .folder-li {
        @apply !ml-0;
    }

    .article blockquote {
        @apply border-l-4 border-border-subtle p-2 pl-4 bg-blockquote shadow-lg;
        @apply !my-4;
    }

    /* markdown footnotes */

    .article .footnotes {
        @apply text-sm text-text-secondary pt-4;
    }
    .article .footnote-ref {
        @apply text-sm text-text-secondary;
    }
    .article .footnotes > ol {
        @apply pt-2;
    }

    /* markdown code blocks */

    .article .codehilite {
        @apply p-4 rounded-xl mt-4;
    }
    .article pre {
        @apply max-w-full py-1 overflow-auto;
    }

    .article pre:not(.codehilite *) {
        @apply p-4 rounded-xl bg-unhighlighted-code;
    }

    .article pre:not(.codehilite *) code {
        @apply block max-w-full py-1 overflow-auto;
    }

    code {
        @apply font-code break-all;
    }
    pre > code {
        @apply whitespace-nowrap;
    }

    /* markdown tables */

    .article table:not(.notmdtable) {
        @apply table-auto my-2;
    }
    .article td:not(.notmdtable *) { /* manual tables should be marked as notmdtable */
        @apply border-2 border-border-strong py-1 px-3 text-center;
    }

    /* bold inside definitions */
    .defn strong {
        @apply text-highlight-blue;
    }

}