<div className="relative w-full 2xl:max-w-[90%] flex h-full"> {/* whole thing (including large-screen left space filler, which is 10%) is max 90%; so 10% each side */}
    <Sidebar>

        {# for some reason, need to put scrollshadow on both #}
        <div className="scrollshadow-vertical overflow-y-auto w-full md:w-[calc(270px-2px)] min-h-10 {{'h-[40vh] md:h-[40vh] xl:h-[calc(100vh-8.5rem)]' if table_of_contents else 'h-[70vh] md:h-[calc(100vh-12rem)]'}} break-all bg-background pt-3 md:pt-0 md:border-y-2 border-border-subtle">
                <ul className="scrollshadow-vertical dirtree mb-4 md:mb-0 group">
                    {% set start_depth = dir_tree['depth'] %}
                    {% macro dump_tree(dir_tree) %}
                        {% if dir_tree['is_dir'] and not dir_tree['is_marked_as_course'] or dir_tree['depth']==start_depth and dir_tree['is_marked_as_course'] %}
                            <Accordion title="{{dir_tree['name']}}" href="{{dir_tree['path']}}" type="{{'course' if dir_tree['is_marked_as_course'] else 'folder'}}" relDepth={ {{dir_tree['depth']-start_depth}} } isSelected={ {{"true" if path_str==dir_tree['path'] else "false"}} } isOpenByDefault={ {{"true" if dir_tree['depth']-start_depth < 2 or (path_str and path_str.startswith(dir_tree['path'])) else "false"}} } >
                                {% if dir_tree['children'] %}
                                    {% for child in dir_tree['children'] %}
                                        {{ dump_tree(child)}}
                                    {% endfor %}
                                {% endif %}
                            </Accordion>
                        {% elif dir_tree['is_marked_as_course'] %}
                            <Accordion title="{{dir_tree['name']}}" href="{{dir_tree['path']}}" type="course" relDepth={ {{dir_tree['depth']-start_depth}} } isSelected={ {{"true" if path_str==dir_tree['path'] else "false"}} } />
                        {% else %}
                            <Accordion title="{{dir_tree['name']}}" href="{{dir_tree['path']}}" type="file" relDepth={ {{dir_tree['depth']-start_depth}} } isSelected={ {{"true" if path_str==dir_tree['path'] else "false"}} } />
                        {% endif %}
                    {% endmacro %}

                    {% if start_depth > 0 and course_parent_path %}
                        <Link href="{{course_parent_path}}">
                            <li className="w-full flex justify-start p-1 pl-2 hover:bg-Filetree-hover">
                                <div className="flex items-center justify-center space-x-1 text-text-secondary text-base">
                                    <CiLogout size="19"/>
                                    <p>exit course</p>
                                </div>
                            </li>
                        </Link>
                    {% endif %}
                    {{ dump_tree(dir_tree) }}
                </ul>
        </div>

    {% if table_of_contents %}
        <div className="scrollshadow-vertical overflow-y-auto w-full md:w-[calc(270px-2px)] min-h-10 h-[30vh] md:h-[calc(60vh-8.5rem)] xl:hidden shrink-0 px-4 py-2 border-t-2 md:border-t-0 md:border-b-2 border-border-subtle">
            <h1 className="text-text-secondary text-lg">Table of contents</h1>
            <ul>
                {% for title,href in table_of_contents %}
                    <li className="pt-1 font-bold"><Link href="{{href}}" className="tocentry text-link [@media(hover:hover)]:hover:underline">{{title}}</Link></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    </Sidebar>

    <article className="w-full min-w-0 px-6 pt-3 mb-14">

        <div className="h-[4.5rem] md:h-0"/>

        <div className="flex flex-wrap items-center space-x-2 mb-3">
            {% if folder_path_list %}
                <div className="flex flex-wrap items-center align-middle space-x-1 mr-2">
                    {% for folderName in folder_path_list %}
                        <span className="font-bold text-text-secondary">/</span>
                        <p className="text-lg font-bold text-link underline [@media(hover:hover)]:hover:underline"><Link href="{{'/'+'/'.join(folder_path_list[:loop.index])}}">{{ folderName }}</Link></p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if tags %}
                {% for tag in tags %}
                <Badge color="{{tag['colour']}}">{{tag['name']}}</Badge>
                {% endfor %}
            {% endif %}
        </div>

        {% if cr_date_time and mod_date_time != cr_date_time %}
            <p className="text-text-secondary mb-2">Created {{cr_date_time}}. Last updated {{mod_date_time}}</p>
        {% elif cr_date_time %}
            <p className="text-text-secondary mb-2">Created {{cr_date_time}}</p>
        {% endif %}

        <div className="article mb-4">
            {{ content }}
        </div>

        {% if parent_path or copiable_article_plaintext %}
            <div className="border-t-2 border-border-subtle pt-4 flex items-top justify-between">
                {% if parent_path %}
                    <div className="flex justify-start">
                        <Link href="{{parent_path}}">
                            <div className="flex items-center justify-center space-x-1 text-text-secondary underline">
                                <RiArrowGoBackFill/>
                                <p>up a level</p>
                            </div>
                        </Link>
                    </div>
                {% endif %}

                {% if copiable_article_plaintext %}
                    <div className="">
                        <CopyButton text="{{copiable_article_plaintext}}">Copy article plaintext</CopyButton>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div className="border-t-2 border-border-subtle pt-4 mt-8 text-sm text-text-secondary">
            <p>This educational content is licensed under <DiscreetLink href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</DiscreetLink>. You may share and adapt with attribution.</p>
        </div>

    </article>

    {% if table_of_contents %}
        <nav className="hidden xl:flex w-[270px] xl:shrink-0 xl:justify-start h-100% min-h-screen border-l-2 border-border-subtle px-6 py-4">
            <div className="fixed text-text-secondary">
                <h1 className="text-lg">Table of contents</h1>
                <ul>
                    {% for title,href in table_of_contents %}
                        <li className="pt-1 font-bold"><Link href="{{href}}" className="text-link [@media(hover:hover)]:hover:underline">{{title}}</Link></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endif %}
</div>