.gruvbox body {
    font-family: var(--font-pangolin);
}

.gruvbox {
    /* https://github.com/morhetz/gruvbox */
    /* helper colours (taken from website) - marked with comment means used */
    --blackrgb: 0, 0, 0; /**/
    --bg0: #282828; /**/
    --bg1: #3c3836; /**/
    --bg2: #504945; /**/
    --bg2rgb: 80, 73, 69; /**/
    --bg3: #665c54; /**/
    --bg4: #7c6f64; /**/
    --bg4rgb: 124, 111, 100; /**/
    --gray: #928374; /**/
    --fg4: #a89984; /**/
    --fg3: #bdae93;
    --fg2: #d5c4a1; /**/
    --fg1: #ebdbb2;
    --fg0: #fbf1c7; /**/
    --red: #cc241d; /**/
    --green: #98971a;
    --yellow: #d79921; /**/
    --blue: #458588; /**/
    --purple: #b16286; /**/
    --aqua: #689d6a; /**/
    --orange: #d65d0e; /**/
    --light-red: #fb4934; /**/
    --light-green: #b8bb26; /**/
    --light-yellow: #fabd2f; /**/
    --light-blue: #83a598; /**/
    --light-purple: #d3869b; /**/
    --light-aqua: #8ec07c; /**/
    --light-orange: #fe8019; /**/

    /* begin definitions */
    --toastify-color-light: var(--bg3) !important;
    --toastify-color-progress-light: var(--yellow) !important;

    color-scheme: dark;
    --color-background: var(--bg0);
    --color-text-primary: var(--fg0);
    --color-text-secondary: var(--fg4);
    --color-text-placeholder: var(--gray);
    --color-articleh1: var(--light-purple);
    --color-articleh2: var(--purple);
    --color-link: var(--blue);
    --color-folder-icon: var(--yellow);
    --color-course-icon: var(--light-red);
    --color-article-icon: var(--aqua);
    --color-blockquote: var(--bg1);
    --color-unhighlighted-code: rgba(var(--bg2rgb), 0.3);
    --color-border-subtle: var(--bg2);
    --color-border-strong: var(--fg3);
    --color-text-emph: var(--light-aqua);
    --color-button: var(--bg3);
    --color-button-hover: var(--gray);
    --color-linkanchor: var(--orange);

    --color-Filetree-text-current: var(--bg0);
    --color-Filetree-current: var(--fg0);
    --color-Filetree-hover: rgba(var(--bg2rgb), .7);
    --color-Filetree-chevron: var(--bg4);
    --color-Filetree-chevron-hover: rgba(var(--bg4rgb), .5);
    --color-Filetree-chevron-current: var(--bg0);
    --color-Filetree-chevron-current-hover: rgba(var(--bg4rgb), .3);
    --color-Filetree-pipe: var(--bg1);
    --color-Filetree-pipe-current: var(--fg2);
    --color-Mobiletopbar: rgba(var(--bg2rgb), .2);
    --color-Searchbar: var(--bg0);
    --color-Searchbar-hover: var(--bg3);
    --color-Searchbar-ring-hover: var(--light-red);
    --color-Searchpopup-result: rgba(var(--bg2rgb), .2);
    --color-Searchpopup-result-selected: rgba(var(--bg4rgb), .5);
    --color-Searchpopup-arrow-selected: var(--light-orange);
    --color-Searchpopup-highlight-dir: var(--light-aqua);
    --color-Searchpopup-highlight-title: var(--light-red);
    --color-Searchpopup-highlight-content: var(--light-blue);
    --color-Table-bar: var(--bg2);
    --color-Table-bartext: var(--fg2);
    --color-Table-rows: rgba(var(--bg2rgb), .2);
    --color-Popup-overlay: rgba(var(--blackrgb), .4);
    --color-Copybutton-icon: var(--light-yellow);
    --color-Spoiler-accent: var(--light-red);
    --color-Changelog-dates: var(--orange);
    --color-Changelog-titles: var(--light-green);
    --color-Incompletemsg: var(--red);
    --color-Math-accent-thm: var(--light-yellow);
    --color-Math-accent-proof: var(--orange);
    --color-Math-accent-defn: var(--light-blue);
    --color-Math-accent-example: var(--orange);
    --color-Math-accent-lemma: var(--light-purple);
    --color-Codeblock-bg: #1d2021; /* for codehilite.css */
    --color-Themeselect-topbar: var(--bg2);
    --color-Themeselect-selected: var(--light-yellow);
    --color-Themeselect-text-selected: var(--bg0);
    --color-Themeselect-hover: var(--bg1);
    --color-Scrollshadow-cover: 40, 40, 40; /* rgb of background */
    --color-Scrollshadow-blockquote-cover: 60, 56, 54; /* rgb of blockquote background */
    --color-Scrollshadow-shadow: 255, 255, 255;
    --color-Hero-text: var(--light-yellow);
    --color-Svg-text: var(--color-text-primary);
    --color-Svg-gray: var(--bg4);
    --color-Svg-text-highlight: var(--color-articleh1);
    --color-Svg-line-highlight-1: var(--light-red);
    --color-Svg-line-highlight-2: var(--light-yellow);
    --color-Svg-fill-highlight-1: var(--green);
    --color-Svg-fill-highlight-2: var(--blue); /* junk */
    --color-Svg-fill-highlight-3: var(--purple); /* junk */

}