<div>
{% if contents_by_time|length == 0 %}
    <p className="italic">This folder is empty</p>
{% else %}
    <p className="italic pb-4">Contains {{file_count}} {{"article" if file_count==1 else "articles"}}</p>

    {% macro dump_contents(contents) %}
        {% for item in contents %}
            <li className="folder-li w-full flex justify-between items-center border-elevated border-b-2 py-2 px-3">
                <Link href="{{item['path']}}">
                    <div className="flex items-center space-x-1 text-lg{{' font-bold text-primary' if item['type']=='folder' else ''}}">
                        {% if item['type']=='file' %}
                            <MdArticle className="shrink-0"/>
                        {% elif item['type']=='course' %}
                            <FaBook className="shrink-0"/>
                        {% endif %}
                        <p className="relative bottom-[1px]">{{item['name']}}</p>
                    </div>
                </Link>
                <p className="text-sm break-normal text-center sm:shrink-0 ml-2">{{item['date_time']}}</p>
            </li>
        {% endfor %}
    {% endmacro %}
    <Folder
        contents_by_date={<> {{ dump_contents(contents_by_time) }} </>}
        contents_by_name={<> {{ dump_contents(contents_by_name) }} </>}
    />
{% endif %}
</div>