<div className="space-y-6">

    <p className="mt-2 text-3xl font-bold break-all">
        <span className="text-highlight-pink">notes.</span>
        <span className="text-highlight-blue">daniel</span>
        <span className="text-highlight-orange">c.</span>
        <span className="text-link">rocks</span>
    </p>

    <p>
        This site is a collection of notes I've written for various courses, as well as explanations of topics I find interesting. Everything is written in my own words - the primary goal is to be able to provide intuition for topics that were presented to me very abstractly.
        <br/>
        Most of the courses are from Part IB of the Mathematical Tripos. Each course is denoted as
            <span className="text-course-icon inline-flex mx-1"><FaBook/></span>
        in the sidebar, containing articles
            <span className="text-text-secondary inline-flex mx-1 relative top-[0.1rem]"><GrArticle/></span>
        and folders
            <span className="text-folder-icon inline-flex mx-1 relative top-[0.2rem]"><AiFillFolder size={20}/></span>
        which can be viewed once inside the course.
    </p>

    <p>
        For some of my favourite articles, check out the <DiscreetLink internal href="/maths/proving-FTA/3-bezout-egcd">magic box</DiscreetLink> or explore how to <DiscreetLink internal href="/maths/research/cube-tilings">tile a cube</DiscreetLink>.
        <br/>
        I also have a <ProminentLink href="https://danielc.rocks">homepage</ProminentLink> with links to my other projects.
    </p>

    <div className="pt-2 pb-4">

        <h1>Course List</h1>

        <div className="overflow-x-auto shadow-lg rounded-t-lg">
            <table className="notmdtable w-full text-left text-text-secondary whitespace-nowrap">
                <thead className="bg-layer">
                    <tr>
                        <th className="px-3 py-2">
                            Name
                        </th>
                        <th className="px-3 py-2">
                            Updated
                        </th>
                        <th className="px-3 py-2">
                            Tags
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in course_list %}
                    <tr className="border-t-2">
                        <td className="px-3 py-2">
                            <ProminentLink href="{{course['path']}}" internal>
                            {{ course['name'] }}
                            </ProminentLink>
                        </td>
                        <td className="px-3 space-x-2 py-2 text-sm">
                            {{ course['mod_date_time'] }}
                        </td>
                        <td className="px-3 space-x-2 py-2">
                            {% for tag in course['tags'] %}
                                <Badge color="{{tag['colour']}}">{{tag['name']}}</Badge>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <h1>About</h1>

    <div className="space-y-2">
        <p>If you're curious, here is the summary of how I maintain the site, and what technologies I use:</p>
        <ul className="space-y-2">
            <li className="list-disc ml-8">
                I use <ProminentLink href="https://nextjs.org/">Next.js</ProminentLink> as the framework, with styling from <DiscreetLink href="https://tailwindcss.com/">Tailwind</DiscreetLink>. The web app is hosted on <DiscreetLink href="https://vercel.com/">Vercel</DiscreetLink>.
            </li>
            <li className="list-disc ml-8">
                A private Github repository contains a master folder with all the content, written in markdown. When I want to update the website, I edit the files in the master folder, using <ProminentLink href="https://inkscape.org/">Inkscape</ProminentLink> for math diagrams.
            </li>
            <li className="list-disc ml-8">
                I wrote a static site generator (SSG) in Python to transform the markdown in the master folder into Next.js pages, and extract metadata. The SSG works by first running <DiscreetLink href="https://pypi.org/project/markdown2/">markdown2</DiscreetLink>, then injecting the result into my own <ProminentLink href="https://palletsprojects.com/p/jinja/">Jinja2</ProminentLink> templates, then wrapping in boilerplate <DiscreetLink href="https://react.dev/">React</DiscreetLink>. Since I'm a maths purist:
                <div className="flex justify-center my-4">
                    <Image src='/images/root/workflow.svg' width='250' height='200' alt='workflow diagram'/>
                </div>
            </li>
            <li className="list-disc ml-8">
                I configured a VSCode shortcut to seamlessly run the SSG and preview content. When I am happy with my changes, I push them to the repository, and I added a hook to automatically deploy the public site whenever this happens.
            </li>
        </ul>
    </div>

    <p>Feel free to <MailLink>email me</MailLink>. Enjoy exploring!</p>

    <h1>Changelog</h1>
    <div>
        <div className="changelog">
            {{ changelog }}
        </div>
    </div>

</div>