<div className="relative w-full{{' 2xl:max-w-[90%]' if not tableOfContents else ''}} flex h-full">
    <Sidebar>

        <ul className="dirtree md:fixed px-4 pt-1 border-elevated scrollbar-thin scrollbar-thumb-elevated scrollbar-track-body top-[7rem] bottom-[5.5rem] overflow-y-scroll w-full md:w-[calc(300px-2px)] break-all h-full md:h-auto">
            <li className="relative bottom-4 pl-4">
                <div className="{{"text-secondary" if pathStr=='' else "text-primary"}} mt-3 mb-0.5">
                    <Link href="/" className="flex items-center space-x-1.5 max-w-fit">
                        <FaBook/>
                        <span>root</span>
                    </Link>
                </div>
                <ul className="mb-4">
                    {% for child in dirTree['children'] recursive %}
                        {% if child['is_dir'] %}
                            <Accordion title="{{child['name']}}" href="{{child['path']}}" isFolder={true} isSelected={ {{"true" if pathStr==child['path'] else "false"}} } isOpenByDefault={ {{"true" if child['depth'] < 2 or (pathStr and pathStr.startswith(child['path'])) else "false"}} } >
                                {% if child['children'] %}
                                    {{ loop(child['children']) }}
                                {% endif %}
                            </Accordion>
                        {% else %}
                            <Accordion title="{{child['name']}}" href="{{child['path']}}" isFolder={false} isSelected={ {{"true" if pathStr==child['path'] else "false"}} } />
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>

    </Sidebar>

    <article className="w-full min-w-0 px-6 pt-3">

        <div className="h-[4.5rem] md:h-0"/>

        {% if pathList %}
            <div className="flex flex-wrap items-center align-middle space-x-1 mb-3">
                {% for folderName in pathList %}
                    <span className="relative top-[0.1em] text-elevated"> <FaChevronRight size={12}/> </span>
                    <p className="text-lg font-bold text-secondary"><Link href="{{'/'+'/'.join(pathList[:loop.index])}}">{{ folderName }}</Link></p>
                {% endfor %}
            </div>
        {% endif %}

        {% if dateTime %}
            <p className="text-elevated mb-3">Last modified on {{dateTime}}</p>
        {% endif %}

        <div className="article mb-4">
            {{ content }}
        </div>

        {% if parent_path %}
            <div className="flex justify-start mb-4">
                <Link href="{{parent_path}}">
                    <div className="flex items-center justify-center space-x-1 text-primary">
                        <RiArrowGoBackFill/>
                        <p>up a level</p>
                    </div>
                </Link>
            </div>
        {% endif %}

    </article>

    {% if tableOfContents %}
        <nav className="hidden xl:flex w-[300px] xl:shrink-0 xl:justify-start h-100% min-h-screen border-l-2 border-elevated px-6 py-4">
            <div className="fixed">
                <h1 className="font-bold text-xl">In this Article</h1>
                <ul className="text-elevated">
                    {% for title,href in tableOfContents %}
                        <li className="pt-2 text-lg font-bold flex items-start justify-start space-x-1"><FaChevronRight className="relative top-2" size={12}/><Link href="{{href}}" className="text-link">{{title}}</Link></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endif %}
</div>